.header {
  background-color: #dcbe87;
  display: flex;
  justify-content: space-between;
}

h1.header__heading {
  align-self: center;
  padding: 0.5em 1em;
}

h1.header__heading > a {
  text-decoration: none;
}

form {
  align-self: center;
}
 input {
   margin: 0 1em;
   padding: 0.5em 0;
 }
a.nav {
   align-self: center;
   padding: 0.5em 1em;
}

.profilebox {
  display: flex;
}

.profilepic {
  margin: 1em;
  border-radius: 400px;
  width: auto;
  height: 50px;
  align-self: center;
}

.profilerest {
  align-self: center;
  margin-right: 1em;
}
